html {
    font-family: 'Source Sans Pro';
    width: 800px;
    margin: auto;
    background-color: #EEEEEE;
}

.content-area {
    background-color: #FFFFFF;
    min-height: 800px;
    padding: 20px 50px 80px 50px;
}



/* -------------------- Navigation Bar -------------------- */

.navbar {
    background-color: #2E2E2E;
    padding-top: 6px;
    text-transform: lowercase;
}

.navbar ul {
    text-align: center;
}

.navbar li {
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
}

.navbar a:link , .navbar a:visited {
    color: #FFFFFF;
}

.navbar a:hover , .navbar a:active {
    color: #FE642E;
}

.navbar .active {
    color: #FE642E;
    display: inline-block;
    padding-bottom: 3px;
    border-bottom: 3px solid #FE642E;
}

/* -------------------- End Of Navigation Bar -------------------- */





/* -------------------- Cover -------------------- */

.cover h2, .cover h3, .cover h4 {
    text-align: center;
}

.cover h2 {
    font-size: 175%;
    padding: 50px 0px;
    line-height: 1.5;
}
.cover h3 {
    font-size: 110%;
    padding: 15px 0px 5px 0px;
}
.cover h4 {
    font-size: 90%;
    padding: 5px 0px;
}

/* -------------------- End Of Cover -------------------- */





/* -------------------- Question -------------------- */
.question {

}

.question p {
    line-height: 1.5;
    margin: 15px 50px;
}

.question h3 {
    line-height: 1.5;
    font-size: 125%;
    margin: 35px 0px 15px 0px;
    border-bottom: 3px solid #FE642E;
}

.question h4 {
    line-height: 1.5;
    margin: 20px 50px 5px 50px;
    border-bottom: 2px solid #FE642E;
    display: inline-block;

}

.question li h5 {
    border-bottom: 1px solid #FE642E;
    display: inline-block;
}

.question > ul {
    list-style: square;
    list-style-position: inside;
    line-height: 1.5;
    margin: 0px 50px;
}

.question td {
    padding: 10px;
    text-align: center;
}

.question a:link, .question a:visited {
    color: #FE642E;
}

/* -------------------- End Of Question -------------------- */










