html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
em, img, i, ol, ul, li, a {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

b {
    font-weight: 600;
}

body {
    line-height:1;
}
ul {
    list-style:none;
}


